<% if (!favLength) { %>

	<form method="post" action="/favorites">
			<input type="hidden" name="favorite[title]" value="<%= movie.Title %>">
			<input type="hidden" name="favorite[id]" value="<%= movie.imdbID %>">
			<input class="favorite" type="submit" value="">
		</form>


<% } else { %>

		<% faves.forEach(function(fav, index) {
		if (fav.id === movie.imdbID) { %>

			<form method="post" action="/favorites/<%= movie.id %>?_method=delete">
				<input class="unfavorite" type="submit" value="">
			</form>

		<% } else { %>

			<form method="post" action="/favorites">
				<input type="hidden" name="favorite[title]" value="<%= movie.Title %>">
				<input type="hidden" name="favorite[id]" value="<%= movie.imdbID %>">
				<input class="favorite" type="submit" value="">
			</form>

		<% }

	}); %>

<% } %>