
<div class="result">
	<img src="<%= movie.Poster %>">
	<div class="text">
		<h2><%= movie.Title %></h2>
		<div class="meta">
			<p><%= movie.Year %> | <%= movie.Genre %> | <%= movie.Rated %></p>
		</div><!-- /.meta -->
		<p><%= movie.Plot %></p>

		<%- include partials/checkFavs.ejs %>
		
	</div>
</div>